* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.wrapping {
    width: 100vw;
    height: 100vh;
    display: inline-block;
}

.container-left {
    width: 50vw;
    height: 100vh;
    display: inline-block;
}

header {
    margin-top: 47px;
    margin-left: 42px;
}

a {
    font-weight: 400;
    font-size: 14px;
    line-height: normal;
    color: #17233D;
    margin-right: 36px;
    cursor: pointer;
}

a:hover {
    opacity: .6;
}

a:active {
    opacity: .8;
}

button {
    width: 124px;
    height: 51px;
    border-radius: 6px;
    border: 1px solid #4CB538;
    background: #6FBF44;
    color: #FFFFFF;
    cursor: pointer;
}

button:hover {
    opacity: .6;
}

button:active {
    opacity: .4;
    font-size: 18px;
}

img {
    width: 595px;
    position: relative;
    top: 190px;
    left: 92px;
}

.container-right {
    float: right;
    width: 50vw;
    height: 100vh;
    display: inline-block;
    padding-top: 370px;
    padding-right: 146px;
    padding-left: 96px;
}

h1 {
    color: #161A49;
    font-weight: 700;
    font-size: 56px;
    line-height: 82px;
    letter-spacing: 0.596px;
}

p {
    color: #4B505A;
    font-size: 18px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.5px;
    padding-top: 47px;
    padding-bottom: 55px;
}

.container-right a {
    color: #6FBF44;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
}

.container-right a:hover {
    opacity: .6;
}

.container-right a:active {
    opacity: .8;
}

@media screen and (max-width:1100px){
    .wrapping{
        width: 100vw;
       height: 100vh;
    }
    .container-left {
        width: 100vw;
        height: 50vh;
        display: flex;
        padding: 0;
        
    }
    .container-right{
        width: 100vw;
        height: 50vh;
        position: fixed; 
        top: 124px;
        left: 40px;
        padding-top: 0px;
        padding-right: 85px;
        padding-left: 0px;
    }
    header{
        width: 100vw;
        margin-top: 0;
        margin-left: 0;
    }
    header button{
        width: 91px;
        height: 31px;
        margin-top: 21px;
        margin-left: 282px;
    }
    header a{
        display: none;
    }
    img{
        width: 312px;
        height: 288px;
        position: fixed;
        top: 490px;
        right: 39px;
        bottom: 22px;
        left: 39px;
    }

    h1{
        font-size: 30px;
        line-height: 30px;
        text-align: center;
    }
    p{    
        color: rgbA(75, 80, 90, 1);  
        font-size: 18px;
        line-height: 33px;
        text-align: center;
        padding: 0;
    }
    .container-right a{
        position: fixed;
        text-align: center;
        justify-content: center;
        margin: 26px 96px 0px 96px;
       
    }
}